
.Morning-Storms-4 { color: rgba(242, 211, 118, 1); }
.Morning-Storms---5 { color: rgba(242, 179, 101, 1); }

.bg-rich-blue {
    background-color: rgba(26, 114, 191, 1);
}

.bg-med-blue {
    background-color: rgba(51, 137, 191, 1);
}

.bg-med-blue-7 {
    background-color: rgba(51, 137, 191, .7);
}

.bg-lightblue {
    background-color: rgba(125, 190, 216, 1);
}

/*------- UV CLASSES --------- */
.uv-low {
    color: green;
    
}

.uv-md {
    color:rgba(242, 211, 118, 1);
    
}

.uv-high {
    color: orange;
    
}

.uv-v-high {
    color: red;
    
}

.uv-ex-high {
    color: rgb(104, 52, 104);
}

